html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.main-wrapper {
    font-family: 'Fira Sans', sans-serif;
}

.main-menu {
    display: none;
}

@media only screen and (min-width: 720px) {
    .main-wrapper {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    .main-footer {
        display: none;
    }
    .main-menu {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
    }
    .chart-wrapper {
        display: flex;
        flex-direction: row;
    }
    .chart {
        flex-basis: 100%;
    }
}